/*  your css code here. If applicable */
#container {
    margin: 20px;
}

#container::before {
    content: "Before Content"; /* Change this to whatever you want */
    color: #f00;
    font-size: 20px;
}
#container::after {
    content: "After Content"; /* Change this to whatever you want */
    color: #f00;
    font-size: 20px;
}